body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  display: flex !important;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  width:99% !important;
  
  padding-left:0% !important;
  align-self: center;
  position: fixed;

}


::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;

}
:-ms-input-placeholder {
  color: white;

}
::placeholder {
  color: white;

}
